<section>
	<div class="row">
		<div class="hide-on-med-and-down col l3"> <!-- Note that "m4 l3" was added -->
		<!-- Grey navigation panel
		This content will be:
		3-columns-wide on large screens,
		4-columns-wide on medium screens,
		12-columns-wide on small screens  -->
		<div class="card medium">
			<div class="card-image">
				<!-- <img class="activator" src="http://materializecss.com/images/office.jpg"> -->
				<img src="<%= (@event.restaurant.image_url).sub('/ms', '/348s') %>">
				<!-- <div class="card-title">3:00 pm</div> -->
			</div>
			<div class="card-content">
				<br>
				<div class="rating-image">
					<img src="<%= @event.restaurant.rating_img_url %>">
					<p class="rating-view"><%= @event.restaurant.review_count %> reviews</p>
				</div>
				
				<p>Meet @ <%= @event.time %></p>
				<p>Host: <%= link_to @event.user.firstname+ " " +@event.user.lastname, user_path(@event.user) if @event.user %></p>
				
				<div class="event-user">
					<div class="user-info">
					</div>
					<div class="join-link">
						<% if current_user != @event.user && GuestList.exists?(event_id: @event.id, user_id: current_user.id) == false %>
						<p>
							<%= link_to 'JOIN', event_path(@event, :join => "true"), :method => :get
							%>
						</p>
						<% end %>
					</div>
				</div>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">
					<%= @event.restaurant.name %>
					<i class="material-icons right">close</i>
				</span>
				<p><%= @event.restaurant.address.html_safe %></p>
				<hr>
				<div class="row valign-wrapper">
					<div class="col s2">
						<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
					</div>
					<div class="col s10">
						<span class="black-text">
							<%= @event.message %>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m8 l9">
		<ul class="collapsible popout" data-collapsible="accordion">
			<li>
				<div class="collapsible-header active"><i class="material-icons">perm_identity</i>Who's Going</div>
				<div class="collapsible-body">
					<br>
					<div class="row">
						<div class="chip teal white-text">
							<img src="<%= @event.user.picture %>" alt="Contact Person">
							<%= link_to @event.user.firstname + " " + @event.user.lastname, user_path(@event.user), :class => 'white-text' %>
						</div>
						<% @event.guests.each do |guest| %>
						<div class="chip">
							<img src="<%= guest.picture %>" alt="Contact Person">
							<%= link_to guest.firstname + " " + guest.lastname, user_path(guest), :class => 'black-text' %>
						</div>
						<% end %>
					</div>
					<br>
				</div>
			</li>
			<li>
				<div class="collapsible-header" onclick="displayMap()"><i class="material-icons">place</i>Where</div>
				<div class="collapsible-body">
					<p><%= @event.restaurant.address.html_safe %></p>
				</div>
				<div class="map-container">
					<div id="map" class="map"></div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">comment</i>Comments</div>
				
				<div class="collapsible-body">
					
				</div>
				<%= render partial: "comments/template", locals: {commentable: @event, new_comment: @comment} %>
				</br>
			</li>
		</ul>
	</div>
</div>
</section>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {scrollwheel: false}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(<%=raw @map_hash.to_json %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
		handler.getMap().setZoom(15);
	});
</script>