<nav class="main-nav">
  <div class="nav-wrapper teal lighten-2">
    <%= link_to 'Food Buddy', root_path, :method => :get, class: "brand-logo ", id: "logo" %>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
    <i class="material-icons">menu</i></a>
    
    <ul class="right hide-on-med-and-down">
      
      <% if user_signed_in? %>
      <!-- Dropdown Trigger -->
      <li><%= link_to 'HOME', root_path, :method => :get %></li>
      <li><%= link_to 'Search', restaurants_path, :method => :get %></li>
      <li><%= link_to "Inbox", mailbox_inbox_path %></li>
      <li><a class="dropdown-button" href="#" data-activates="dropdown1"><%= current_user.firstname %><i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><%= link_to 'PROFILE', user_path(current_user), :method => :get %></li>
        <li class="divider"></li>
        <li><%= link_to 'SETTINGS', edit_user_registration_path, :method => :get %></li>
        <li class="divider"></li>
        <li><%= link_to 'LOG OUT', destroy_user_session_path, :method => :delete %></li>
      </ul>
      
      
      <% else %>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">CONTACT</a></li>
      <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
      <li><%= link_to 'LOG IN', new_user_session_path %></li>
      <% end %>
    </ul>
    
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">CONTACT</a></li>
      <% if user_signed_in? %>
      <li><%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete %></li>
      
      <% else %>
      <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
      <li><%= link_to 'LOG IN', new_user_session_path %></li>
      <% end %>
    </ul>
    
  </div>
</nav>